# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'seosuite',
        'HOST': 'localhost',
        'USER': 'seo',
        'PASSWORD': 'oes',
    }
}